


.Quick{
  position: relative;
  bottom:40%;
  margin: 50% 0% 0% 15%;
}
.profile-img img{
  width:20%;
  position: absolute;
  left:10%;
  bottom:10%;

}
.quick-links{

}
.quick-links a{
  font-size: 1em;
  text-decoration: none;
}
.quick-links li {
  margin-bottom: 8%;
}

h1{
  font-size: 3.2em;
  text-align: left;
}

p{
  font-size: 1.3em;
  padding-top: 10px;
}
.contact-info{
  position: absolute;
  left:45%;
  top:50%;
}
.ed-info{
  position: absolute;
  left:45%;
  top:100%;
}
.int-info{
  position: absolute;
  left:45%;
  top:150%;
  margin-bottom: 20%;
}
.Contact .social{
  font-size: 1.5em;
}
.Contact .social a{
  margin-right: 5%;
}
@media screen and (max-width:840px) {
  .contact-info{
    position: absolute;
    left:15%;
    top:50%;
    width:50%;
  }
  .ed-info{
    position: absolute;
    left:15%;
    top:100%;
    width:80%;
  }
  .int-info{
    position: absolute;
    left:15%;
    top:150%;
    width:50%;
  }
  .Quick{
    display: none;

  }
  .profile-img img{
    margin: 1%;
    width:50%;
    position: relative;
    left:10%;
    top:20%;

  }
}
