/*
ABOUT START
*/
h1 {
  font-size: 1.8em;
  text-align: left;
  font-family: 'Libre Baskerville', serif;
}

.about {
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right-side {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.right-side-content {
  padding-top: 3%;
}

.right-side-content .about-des {
  font-size: 0.9em;
}

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.left-side-content {
  margin-top: 20%;
  position: relative;
}

.left-side-content img {
  margin-bottom: 5%;
}

.aboutme {
  margin-bottom: 8%;
  text-align: right;
  font-size: 3.0em;
}

.about-img {
  width: 40%;
  position: relative;
  left: 50%;
}

.about-des {
  margin: 0 3%;
  font-size: 1em;
  width: 80%;
}

.social-links {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.4em;
}

.social-links a {
  padding: 0% 3%;
}

.social-links a :hover {
  color: #ff5959;
}
/*
Bottom info starts
*/
.more-info {
  height: auto;
  margin: 10% 10%;
}

.info-child {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 3% 5%;
  padding: 2%;
}

.info-title {
  font-size: 2.3em;
  border-bottom: 10px solid white;
  width: 40%;
}

.description {
  margin-left: 30%;
}

#educations .info-title {
  width: 13%;
}

#skills .info-title {
  width: 23%;
}

#experience .info-title {
  width: 15%;
}

@media screen and (max-width:950px) {
  .about {
    flex-direction: column;
  }

  .right-side, .left-side {
    width: 100%;
    height: auto;
  }

  .left-side-content {
    margin-top: 5%;
  }

  .right-side-content .about-des {
    margin: 3% 13%;
    text-align: center;
  }

  .about-img {
    width: 30%;
    left: 35%;
  }

  .aboutme {
    text-align: center;
  }

  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width:850px) {
  .more-info {
    display: flex;
    flex-direction: column;
  }

  .contact-info, .int-info {
    margin-top: 5%;
  }
}

@media screen and (max-width:500px) {
  .about-img {
    left: 28%;
    width: 45%;
  }

  .right-side-content .about-des {
    margin: 5% 10%;
  }

  .info-child {
    width: 85%;
    margin: 3% 5%;
    padding: 1%;
  }
}

/*
@media screen and (max-width:550px) {

  .about-des {
    text-align: center;
    margin: 3% 12% 5% 8%;
    width: 85%;
  }

  .quote-on-banner {
    font-size: 2em;
    right: 65%;
  }

  .banner-img {
    width: 100%;
  }

  .projects {
    margin-top: 30%;
  }
  .aboutme{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 13%;
  }

  .about-img {
    opacity: 0.2;
    width: 60%;
    margin-top: 35%;
  }

  .about-des {
    justify-content: center;
  }

  .about-img img {
    margin-right: 10%;
  }

  .more-info {
    margin-top: 55%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-info {
    margin-top: 10%;
  }

  .ed-info {
    margin: 10% 0%;
  }
}*/
