@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Ibarra+Real+Nova:400,700|Lato|Libre+Baskerville:700|Libre+Franklin:500|Lobster|Merriweather|Playfair+Display|Raleway:400,500|Ubuntu:300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #584b42;
}

@keyframes transition-in {
  from{
    opacity: 0;
    transform: rotateX(-15deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);

  }

}
.container{
  animation: transition-in 0.75s;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 1.8em;
  /*font-family: 'EB Garamond', serif;*/
}
.h1,.h2,.h3{
font-family: 'Libre Baskerville', serif;

}
/*
font-family: 'Ubuntu', sans-serif; - paragraphs
font-family: 'Libre Franklin', sans-serif; - heading for nav
font-family: 'Libre Baskerville', serif; - subheading

*/
/*begin nav bar*/
nav {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*font-family: 'Montserrat', sans-serif;*/
  min-height: 17vh;
  z-index: 20;
}

.logo {
  color: #584b42;
  letter-spacing: 3px;
  font-size: 18px;
}

.logo a {
  text-decoration: none;
}

.nav-links {
  color: black;
  display: flex;
  float: left;
  justify-content: space-between;
  width: 30%;
  font-size: 0.875em;
  text-decoration: none;
  list-style: none;

}

.nav-links a {
  position: relative;
  color: #584b42;
  text-decoration: none;
  list-style: none;
  padding-bottom:3%;
}
.nav-links a::after{
  content: '';
  position: absolute;
  border-bottom: 2px solid black;
  bottom:0%;
  width:0%;
  left: 50%;
  transition: all 800ms ease;
}
.nav-links a:hover:after {
  left: 0%;
  width:100%;
}

/*.nav-links a:hover {
  color: #a34a28;
  opacity: 0.8;
  border-bottom: 2px solid #a34a28;
}
*/
/*creating the drop down logo*/
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 0.47vh;
  background-color: #584b42;
  margin: 5px;
}

@media screen and (max-width:840px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    height: 30vh;
    top: 17vh;
    background-color: #fffdf9;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    width: 100%;
    transform: translateX(-100%);
    z-index: 20;
    /*links disappear by transitioning off screen*/
  }

  .burger {
    display: block;
  }

  .footer-items {
    margin-top: 20%;
  }

  .logo header {
    color: #584b42;
  }

  .nav-active {
    transform: translateX(0%);
  }

  /*
    begin citations
    */
  .citations {
    margin: 10%;
    width: 85%;
  }

  /*
      end citations
      */
  /*
    begin footer
    */
