/* font-family: 'Cormorant Garamond', serif; - text,buttons
font-family: 'Montserrat', sans-serif; - heading for nav
font-family: 'Lato', sans-serif; - subheading */
body {
  background-color: white;
}

/*
BANNER START
*/
.banner {
  height: 53vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.banner-img {
  height: auto;
  width: 50%;
}

.quote-on-banner {
  color: black;
  position: absolute;
  font-size: 3.5em;
  right: 65%;
}

/*
ABOUT START
*/
.about {
  height: 45vh;
  margin-top: 16%;
  margin-bottom: 16%;
  display: flex;
  flex-direction: row;
}

.aboutme {
  position: relative;
  margin-top: 5%;
  margin-left: 16%;
  font-size: 3em;

}
.about-img{
  position:absolute;
  left:20%;
  margin-top: 13%;
  width: 15%;
}

.about-des {
  width: 45%;
  justify-content:flex-end;
  display: flex;
  flex-direction: column;
  margin: 0 5%;
}

/*
projects START
*/
.projects{
    height: 60vh;
    margin: 10% 0%;
  }
.projects .p-img a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.projects .p-img img:hover {
  opacity: .5;
}
.p-img img{
  max-width: 50%;
  height: auto;
}

@media screen and (max-width:850px) {
  .quote-on-banner {
    text-align: left;
    position: absolute;
    left:25%;
    background-color: white;
    width:50%;
    opacity: 0.7;
    padding-left: 10px;
  }
  .banner-img {
    width: 80%;
  }
  .about{
    flex-direction: column;
  }

  .aboutme {
    margin-left: 10%;
  }
  .about-des {
    margin: 8% 10%;
    align-items: center;
    width:70%;
  }
  .project-img{
    max-width: 85%;
    height: auto;
  }
  .about-img{
    opacity: 0;
  }

}

@media screen and (max-width:550px){
  .aboutme {
    margin-top: 10%;
    text-align: center;
    margin:5%;
  }
  .about-des {
    text-align: center;
    margin:  3% 12% 5% 8%;
    width:85%;
  }
  .quote-on-banner{
    font-size: 2em;
    right: 65%;
  }
  .banner-img {
    width: 100%;
  }
  .projects{
    margin-top: 30%;
    }
  .p-img img{
    max-width: 90%;
    height: auto;
  }
  .about-img{
    opacity: 0.25;
    width: 50%;
  }
}


.footer {
  margin-top: 48%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-items .social {
  padding: 10px;
  letter-spacing: 10px;
  font-size: 1.5em;
}

.footer-items .social a {
  color: black;
}
.footer-items .social a:hover{
  opacity: 0.4;
}
