/* font-family: 'Cormorant Garamond', serif; - text,buttons
font-family: 'Montserrat', sans-serif; - heading for nav
font-family: 'Lato', sans-serif; - subheading */
body {
  background-color: white;
}

/*
BANNER START
*/
nav{
    /*background-color: #f6da63;*/
}
.banner {
  height: 72.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #f6da63;

}
/*.banner-img{
  border: 10px #eb8242;
}
.banner-img img{
  height: auto;
  width: 65%;
  position: relative;
  left:10%;
  border: 10px #eb8242;
}

.quote-on-banner {
  color:black;
  position: absolute;
  font-size: 3.5em;
  text-shadow: 2px 2px 10px black;
}
*/


/*
projects START
*/

.Work {
  display: flex;
  flex-direction: row;
  margin: 5% 0% 10% 0%;
}

.work-des {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  width: 55%;
}

.work-title {
  width: 45%;
}

.work-title-a {
  margin-top: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.work-title-a a{
  text-decoration: none;
}
.work-title-a a:hover{
  color: #a34a28;
  border-bottom: 2px solid #a34a28;
  width:22%;
}
.work-title-a a, .work-name {
  margin: 3% 8% 5% 24%;
}
#a{
  margin-top: 20%;
}
.work-title-a h4{
  font-size: 4em;
}
.mywork {
  font-size: 1em;
  float: left;
}

.work-des img {
  width: 65%;
  padding: 0% 3%;
}

.work-des .button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.work-des img:hover {
  opacity: .8;
}

.project-name {
  margin: 10% 8% 5% 24%;
  font-size: 4.0em;
  width: 30%;
  text-shadow: 2px 2px 2px black;
}

@media screen and (max-width:850px) {
  .quote-on-banner {
    text-align: left;
    position: absolute;
    left: 25%;
    background-color: white;
    width: 50%;
    opacity: 0.7;
    padding-left: 10px;
  }

  .banner-img {
    width: 80%;
  }

  .Work {
    display: flex;
    flex-direction: column;
  }
.work-title #a{
  font-size: .9em;
}
  .project-name {
    text-align: center;
    width: 100%;
    font-size: 3em;
    margin: 8% 0%;
  }

  .work-title {
    width: 100%;
  }

  .work-name, .work-title-a a {
    margin-left: 40%;
  }

  .work-des {
    width: 100%;
    background-color: yellow;

  }

  .work-des img {
    width: 90%;
  }

}

@media screen and (max-width:900px) {
  .aboutme {
    margin-top: 10%;
    text-align: center;
    margin: 5%;
  }

  .about-des {
    text-align: center;
    margin: 3% 12% 5% 8%;
    width: 85%;
  }

  .quote-on-banner {
    font-size: 2em;
    right: 65%;
  }

  .banner-img {
    width: 100%;
  }

  .projects {
    margin-top: 30%;
  }

  .about-img {
    opacity: 0.25;
    width: 80%;
  }
}

.footer {
  margin: 5% 0%;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.footer-items .social {
  padding: 10px;
  letter-spacing: 10px;
  font-size: 1.5em;
}

.footer-items .social a {
  color: black;
}

.footer-items .social a:hover {
  opacity: 0.4;
}
.footer-links{
  list-style: none;
  margin-top: 10%;
  text-align: center;
}
.footer-links li{
  margin: 5% 0%;
}
.footer-links li:hover{
  border-bottom: 1px solid black;
}
.footer-links a{
    text-decoration: none;
}
[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}
