
body {
  /*background-color: #fff7f7;*/
  background-color: #fff6f6;
}

/*
BANNER START
*/
.banner {
  height: 72.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: #f6da63;
}

/*
projects START
*/
.Work {
  display: flex;
  flex-direction: row;
  margin: 0% 0% 10% 0%;
}

.work-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 55%;
}

.work-img img {
  width: 65%;
  float: center;
  margin: 0% 1% 0% 5%;
}


.work-img .button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.work-img img:hover {
  opacity: .8;
}

.project-name {
  margin: 10% 8% 5% 35%;
  font-size: 4.0em;
  width: 50%;
  font-family: 'Libre Baskerville', serif;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}


.work-content {
  width: 45%;
}

.work-des {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.work-des  a {
  text-decoration: none;
  padding: 1%;
}

.work-des  a:hover {
  background-color: #f6e5e5;
  color:#45454d;
  width: 17%;
}

.work-des  a, .work-name {
  margin: 0% 8% 5% 35%;
}

#project-b {
  margin-top: 20%;
}
#project-b .project-name{
  font-size: 3.2em;
}
.work-des  h4 {
  font-size: 4em;
}

.mywork {
  font-size: 1em;
  float: left;
}


@media screen and (max-width:850px) {

  .Work {
    display: flex;
    flex-direction: column;
  }

  .work-content #project-b  {
    font-size: .9em;
  }

  .project-name {
    text-align: center;
    width: 100%;
    font-size: 3em;
    margin: 8% 0%;
  }

  .work-content {
    width: 100%;
  }

  .work-name, .work-des  a {
    margin-left: 40%;
  }

  .work-img {
    width: 100%;
    background-color: yellow;
  }

  .work-img img {
    width: 75%;
      margin: 0% 0% 0% 12%;
  }

  .work-des  a:hover {
    width: 22%;
  }
}

@media screen and (max-width:900px) {
  .aboutme {
    margin-top: 10%;
    text-align: center;
    margin: 5%;
  }

  .about-des {
    text-align: center;
    margin: 3% 12% 5% 8%;
    width: 85%;
  }

  .quote-on-banner {
    font-size: 2em;
    right: 65%;
  }

  .banner-img {
    width: 100%;
  }

  .projects {
    margin-top: 30%;
  }

  .about-img {
    opacity: 0.25;
    width: 80%;
  }
}
@media screen and (max-width:400px){
    .work-img img{
      width: 80%;
      margin: 0% 0% 0% 10%;
    }
}

.footer {
  margin: 5% 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-items .social {
  padding: 10px;
  letter-spacing: 10px;
  font-size: 1.5em;
}

.footer-items .social a {
  color: black;
}

.footer-items .social a:hover {
  opacity: 0.4;
}

.footer-links {
  list-style: none;
  margin-top: 10%;
  text-align: center;
}

.footer-links li {
  margin: 5% 0%;
}

.footer-links li:hover {
  border-bottom: 1px solid black;
}

.footer-links a {
  text-decoration: none;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}
