* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Intro {
  display: flex;
  flex-direction: column;
  background-color: #fff6f6;
  height:70vh;
}

.Summary {
  max-height: 50vh;
  display: flex;
  flex-direction: row;
}


.title {
  font-size: 2.5em;
  width: 20%;
  margin: 5% 5% 5% 10%;
  font-family: 'Libre Baskerville', serif;
  text-decoration: underline white;
}

.banner-img img {
  width: 100%;
  height: auto;
}

.description {
  width: 100%;
  margin: 5% 10%;
  padding: 1%;
}

.Summary2 {
  display: flex;
  flex-direction: row;
}

.launch {
  width: 30%;
  margin: 0% 5% 0% 10%;
}

.fa-link {
  padding-left: 10px;
  text-decoration: none;
}

.others {
  width: 50%;
  margin: 0% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Concept {
  margin: 0% 0% 10% 0;
  display: flex;
  flex-direction: column;
}

.Concept-child, .Design-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Concept .description {
  width: 40%;
}

.Concept img {
  width: 35%;
  margin: 0% 10% 0% 0%;
}

.Design {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.Design-child-img img {
  width: 20%;
  margin: 5% 2%;
}

.Design-child-img {
  display: flex;
  justify-content: center;
}

.progress-child {
  display: flex;
  flex-direction: row;
}

.progress-child-img {
  display: flex;
  flex-direction: column;
}
.progress-child-img img{
  width: 50%;
}
.child-img-top, .progress-child-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.child-img-bottom{
  margin: 5% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.child-img-bottom img,.child-img-top img{
  width: 36%;

}
.graphic {
  margin-top: 10%;
}


.Conclusion {
  margin: 14% 0%;
}

.Conclusion-child {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:950px) {
  .Summary, .Concept-child, .Design-child, .Design-child-img {
    flex-direction: column;
  }

  .title {
    font-size: 2em;
    margin: 5% 5% 0% 15%;
  }

  .description {
    margin: 5% 5% 2% 15%;
    width: 70%;
  }

  .Summary2 {
    flex-direction: column;
  }

  .launch {
    margin: 5% 5% 0% 15%;
  }

  .others {
    flex-direction: column;
    margin: 5% 5% 0% 15%;
    width: 80%;
  }

  .Concept .description {
    width: 70%;
  }

  .Concept img {
    width: 70%;
    margin: 10% 5% 0% 15%;
  }

  .progress-child {
    flex-direction: column;
    margin: 5% 0%;
  }
  .Conclusion-child {
    flex-direction: column;
  }

  .progress-child-img {
    flex-direction: column;
  }

  .progress-child-img img {
    width: 70%;
    margin: 5% 2%;
  }

  .child-img-bottom{
    margin: 5% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .child-img-bottom img{
    width: 70%;
    margin: 5% 2%;
  }
  .Design-child-img{
    align-items: center;
  }
  .Design-child-img img {
    width: 60%;
    margin: 5% 2%;
  }
}

.footer {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-items .social {
  padding: 10px;
  letter-spacing: 10px;
  font-size: 1.5em;
}

.footer-items .social a {
  color: #584b42;
}

.footer-items .social a :hover {
  color: #ff6473;
}
