* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Intro{
  display: flex;
  flex-direction: column;
}

.Summary{
  max-height: 50vh;
  display: flex;
  flex-direction: row;
}

.title{
  font-size: 2.5em;
  width:30%;
  margin: 5% 5% 5% 10%;

}
.banner-img img{
  width: 100%;
  height: auto;
}
.description{
  width:50%;
  margin: 5% 10%;
}

.Summary2{
  display: flex;
  flex-direction: row;
}
.launch{
  width:30%;
  margin: 0% 5% 0% 10%;
}
.fa-link{
  padding-left: 10px;
}
.others{
  width:50%;
  margin: 0% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Concept{
  margin: 10% 0%;
  display: flex;
  flex-direction: column;
}
.Concept-child, .Design-child{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.Concept .description{
    width: 40%;
}
.Concept  img{
  max-width: 35%;
  margin: 0% 10% 0% 0%;
}
.Design{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.Design-child-img  img{
  max-width: 20%;
  margin: 5% 3%;
}
.Design-child-img{
  display: flex;
  justify-content: center;
}
.Step1-child{
  display: flex;
  flex-direction: row;
}
.Step1-child-img{
  display: flex;
  justify-content: space-around;
  margin: 0% 10%;
}
.Step1-child-img img{
  width: 40%;
}
.Step2{
  margin-top: 10%;
}
.Step2 .Step1-child-img img{
  width: 80%;
}

.Conclusion{
  margin: 14% 0%;
}
.Conclusion-child{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:950px) {
  .Summary,.Concept-child, .Design-child, .Design-child-img{
    flex-direction: column;
  }
  .title{
    margin: 5% 5% 0% 15%;
  }
  .description{
  margin: 5% 5% 2% 15%;
    width: 70%;
  }
  .Summary2{
    flex-direction: column;
  }
  .launch{
    margin: 5% 5% 0% 15%;
  }
  .others{
    flex-direction: column;
  margin: 5% 5% 0% 15%;
  width: 80%;
  }
  .Concept .description{
      width: 70%;
  }
  .Concept  img{
    max-width: 68%;
    margin: 10% 5% 0% 10%;
  }
  .Design-child-img  img{
    max-width: 80%;
    margin: 5% 5%;
  }
  .Step1-child{
    flex-direction: column;
    margin: 5% 0%;
  }
  .Step1-child-img{
    flex-direction: column;
  }
  .Step1-child-img  img{
    width: 80%;
    margin-left: 9%;
  }
  .Conclusion-child{
    flex-direction: column;
  }
}

.footer {
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-items .social {
  padding: 10px;
  letter-spacing: 10px;
  font-size: 1.5em;
}

.footer-items .social a {
  color: black;
}
.footer-items .social a:hover{
  opacity: 0.4;
}
